<%- include("./partials/header.ejs") %>

<div class="container">
  <div class="editForm">
    <form action="/bookEdited" method="post">
      <h2>Modify your note here</h2>
      <div class="imageContainer">
        <img src="<%= book.bookcover %>" alt="<%= book.booktitle %> cover" class="bookCover">
      </div>
      <div class="editFields">
        <div class="inputGroup">
          <label for="author">Author:</label><p><%= book.bookauthor %></p>
        </div>
        <div class="inputGroup">
          <label for="ISBN">ISBN:</label><p><%= book.isbn %></p>
        </div>
        <div class="inputGroup">
          <label for="note">My Note:</label> <br>
          <textarea id="note" name="note" rows="8"><%= book.note %></textarea>
        </div>
        <div class="inputGroup">
          <label for="rating">My Rating:</label>
          <select id="rating" name="rating">
            <% for (let i = 1; i <= 5; i++) { %>
              <option value="<%= i %>" <%= book.rating == i ? 'selected' : '' %>><%= i %></option>
            <% } %>
          </select>
        </div>
      </div>
      <input type="hidden" name="id" value="<%= book.id %>">
      <input type="submit" value="Update Post" class="addButton">
    </form>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
