<%- include("./partials/header.ejs")%>

<div class="addClass">


 <form action="/add" method="post">
  <input type="submit" value="Add new book note" class="addButton"/>
 </form>
</div>
<div class="container">
<% bookList.forEach(function(entry) { %>
 

  <hr>

<h3><%=entry.booktitle%></h3>
<img src="<%=entry.bookcover%>"> <br>
<label>ISBN: </label> <%=entry.isbn%> <br>
<label>Author:</label> <%=entry.bookauthor%> <br>
 <label>My Note: </label> <%=entry.note%>  <br>
  <label>My Rating </label><%=entry.rating%> <br>

  <label>Note Added: </label><%=entry.dateread.toLocaleDateString('en-GB')%>


<div>
<form action="/edit" method="get">
  <input type="hidden" name="id" value="<%= entry.id %>">
  <input type="submit" value="Edit"  class="editButton"/>
 </form>
</div>
<div>
 <form action="/deleteBook" method="post" onsubmit="return confirmDelete('<%= entry.booktitle %>');">
  <input type="hidden" name="id" value="<%= entry.id %>">
  <input type="submit" value="Delete book" class="deleteButton">
</form>
</div>


<%})%>
 <hr>
</div>
</body>

<script>
  function confirmDelete(bookTitle) {
    return confirm(`Are you sure you want to delete the book: "${bookTitle}"?`);
  }
</script>



<%- include("./partials/footer.ejs")%>