<%- include("./partials/header.ejs") %>

<div class="container">
  <div class="addClass">
    <form action="/add" method="post">
      <input type="submit" value="Add new book note" class="addButton" />
    </form>
  </div>

  <% bookList.forEach(function(entry) { %>
    <hr>
    <div class="bookObject">
      <img src="<%= entry.bookcover %>" alt="Book cover">
      <div class="bookInfo">
        <h3><%= entry.booktitle %></h3>
        <p><label>ISBN: </label> <%= entry.isbn %></p>
        <p><label>Author: </label> <%= entry.bookauthor %></p>
        <p><label>My Note: </label> <%= entry.note %></p>
        <p><label>My Rating: </label> <%= entry.rating %></p>
        <p><label>Note Added: </label> <%= entry.dateread.toLocaleDateString('en-GB') %></p>
      </div>
    </div>
    <div class="bookFunctions">
      <form action="/edit" method="get">
        <input type="hidden" name="id" value="<%= entry.id %>">
        <input type="submit" value="Edit" class="editButton" />
      </form>
      <form action="/deleteBook" method="post" onsubmit="return confirmDelete('<%= entry.booktitle %>');">
        <input type="hidden" name="id" value="<%= entry.id %>">
        <input type="submit" value="Delete book" class="deleteButton" />
      </form>
    </div>
  <% }) %>
  <hr>
</div>

<script>
  function confirmDelete(bookTitle) {
    return confirm(`Are you sure you want to delete the book: "${bookTitle}"?`);
  }
</script>

<%- include("./partials/footer.ejs") %>
