<%- include("./partials/header.ejs")%>


 <form action="/add" method="post">
  <input type="submit" value="Add new book note"/>
 </form>


<% bookList.forEach(function(entry) { %>
 
<label>
  <hr>
<h3><%=entry.bookTitle%></h3>
<img src="<%=entry.bookCover%>">
<label>Author:</label> <%=entry.bookAuthor%> <br>
 <label>My Note: </label> <%=entry.note%>  <br>
  <label>My Rating </label><%=entry.rating%> <br>

  <label>Note Added: </label><%=entry.dateRead%>
</label>

<%})%>
 <hr>

</body>



<%- include("./partials/footer.ejs")%>