<%- include("./partials/header.ejs")%>


 <form action="/add" method="post">
  <input type="submit" value="Add new book note"/>
 </form>


<% bookList.forEach(function(entry) { %>
 
<label>
  <hr>
<h3><%=entry.booktitle%></h3>
<img src="<%=entry.bookcover%>">
<label>ISBN</label> <%=entry.isbn%>
<label>Author:</label> <%=entry.bookauthor%> <br>
 <label>My Note: </label> <%=entry.note%>  <br>
  <label>My Rating </label><%=entry.rating%> <br>

  <label>Note Added: </label><%=entry.dateread%>
</label>

<input type="submit" value="Edit">
<input type="submit" value="Delete">

<%})%>
 <hr>

</body>



<%- include("./partials/footer.ejs")%>